<div class="flex flex-col bg-gradient-to-b p-11 from-blue-500 left-side mt-36 m-auto text-white w-1/2 rounded-xl">
    <div class="font-bold text-2xl mb-5">
    <h1>Sobre Nós</h1>
    </div>
    <div class="text-justify text-lg">
    <p class="pb-2">Bem-vindo(a) à nossa ferramenta de tradução automática de conjuntos de dados textuais! Nosso projeto tem como objetivo principal oferecer uma solução inovadora para traduzir datasets de maneira eficiente, precisa e culturalmente adaptada, utilizando Modelos de Linguagem de Última Geração (LLMs). Além disso, buscamos garantir que as traduções atendam aos mais altos padrões de qualidade, permitindo a validação de especialistas humanos.
    </p>
    
       <p>Essa iniciativa foi idealizada e desenvolvida no âmbito do Instituto Federal de Educação, Ciência e Tecnologia da Paraíba (IFPB), instituição reconhecida por sua excelência acadêmica e inovação tecnológica. Nosso compromisso é criar soluções que contribuam para a democratização do acesso a dados multilingues e que possam ser aplicadas em áreas como pesquisa científica, inteligência artificial e aprendizado de máquina.
        
        Agradecemos por utilizar nossa plataforma e contribuir para um mundo mais conectado e acessível 
        por meio da linguagem.
    </p>
        
    </div>
</div>


