<div class="flex mt-5 gap-0 justify-center w-full min-h-full h-96">
    <div class="flex flex-col w-2/6 h-full">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Linguagem: (Idioma origem) </label>
    <textarea type="text" id="large-input" class="block p-4 h-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 resize-none"></textarea>
</div>
<div class="flex flex-col w-2/6 h-full">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tradução: </label>
    <textarea type="text" aria-label="disabled input" id="large-input" class="block p-4 h-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 resize-none" placeholder="Texto Traduzido..." disabled></textarea>
</div>
</div>