<div class="flex items-center justify-around ">
    <div class="left-side">Lado Esquerdo</div>
    <div class="right-side flex items-center flex-col">
        <div  class="flex items-center flex-col">
            <form action="">
                <input type="text" name="email" id="email" placeholder="Endereço de Email">
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
                <button id="login">Login</button>
                <button>Esqueceu sua senha?</button>
                <div>
                    <span>Ainda não possui uma conta?</span>
                    <button>Cadastre-se</button>
                </div>
            </form>
        </div>
    </div>
</div>